<div class="container" style="text-align: center">
    <p class="lead">Registra un vehículo</p>
    <form #vehicleRegistrationForm="ngForm" (ngSubmit)="OnSubmit(vehicleRegistrationForm)">
      <div class="form-group">
        <label for="exampleFormControlInput1">Placa</label>
        <input type="text" class="form-control" name="numberplate" #Documento="ngModel" [(ngModel)]="numberplate" placeholder="ABC123" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Tipo de vehículo</label>
        <select class="form-control" name="type" [(ngModel)]="type" required>
          <option>Camioneta</option>
          <option>Campero</option>
          <option>Carro</option>
          <option>Moto</option>
          <option>Otro</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput2">Número de puestos</label>
        <input type="number" class="validate" name="totalseats" [(ngModel)]="totalseats" placeholder="1" required>
      </div>
      <button href="login" [disabled]="!vehicleRegistrationForm.valid" 
        class="btn btn-primary" type="submit">
        Registrar vehículo
      </button>
    </form>
</div>

<div class="container" style="text-align: center">
  <p class="lead">Borrar vehículo</p>
  <label for="exampleFormControlInput1">Inserte la placa del vehículo a borrar</label>
  <input type="text" placeholder="ABC123" name="platetodelete" [(ngModel)]="platetodelete">
  <button class="btn btn-primary" (click)="borrarVehiculoClick()">Borrar vehículo</button>
</div>