<div class="container" style="text-align: center">
  <p class="lead">Bienvenido {{nomusuario}}</p>
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="ClickBotonOfrecerPuesto()">Ofrecer Puesto</button>
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="ClickBotonPedirPuesto()">Pedir puesto</button>
  <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/registervehicle">Registrar o eliminar vehículo</button>
</div>

<div class="container">
  <img src="../src/assets/sharecar.jpg" class="img-fluid" alt="Responsive image">
</div>
   


    
