<div class="container" style="text-align: center">
  <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/offersit">Ofrecer Puesto</button>
  <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/asksit">Pedir puesto</button>
  <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/registervehicle">Registrar vehículo</button>
</div>

<div class="container">
  <img src="../src/assets/sharecar.jpg" class="img-fluid" alt="Responsive image">
</div>
   


    
