<form #filterTravelsForm="ngForm" (ngSubmit)="OnSubmit(filterTravelsForm)">
    <p class="lead">Filtras viajes entre horas y lugar de origen (sede en la que te encuentras).</p>
  <div class="input-field col s40">
    <input class="validate" type="text" name="horainicio" #HoraSalida="ngModel" [(ngModel)]="horainicio" [pattern]="hourpattern" required>
    <label data-error="Inserta un formato válido Ejemplo: 18:30">Inicio</label>
  </div>
  <div class="input-field col s40">
    <input class="validate" type="text" name="horasalida" #HoraSalida="ngModel" [(ngModel)]="horasalida" [pattern]="hourpattern" required>
    <label data-error="Inserta un formato válido Ejemplo: 18:30">Fin</label>
  </div>
  <p class="lead">Origen (Sede en la que estás)</p>
    <select class="form-control" name="origen" [(ngModel)]="origen" required>
      <option>volador</option>
      <option>minas</option>
    </select>    
  <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!filterTravelsForm.valid">Filtrar</button>
    
</form>

<p class="lead">Elige un viaje</p>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Destino</th>
          <th scope="col">Hora Salida</th>
          <th scope="col">Vehículo</th>
          <th scope="col">Puestos disponibles</th>
          <th scope="col">Reservar</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let filtrado of filtrados">
          <th scope="row">{{filtrado.destination}}</th>
          <td>{{filtrado.hour}}</td>
          <td>{{filtrado.vehicle.type}}</td>
          <td>{{filtrado.available_seats}}</td>
          <td><button type="button" class="btn btn-dark" (click)="reservarPuesto(filtrado.vehicle.id)">Reservar</button></td>
        </tr>
      </tbody>
    </table>
  </div>