<p class="lead">Elige un viaje</p>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Destino</th>
          <th scope="col">Hora Salida</th>
          <th scope="col">Vehículo</th>
          <th scope="col">Puestos disponibles</th>
          <th scope="col">Reservar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">UNAL-Sede Volador</th>
          <td>8:00AM</td>
          <td>Camioneta Audi Q7</td>
          <td>4</td>
          <td><button type="button" class="btn btn-dark">Reservar</button></td>
        </tr>
      </tbody>
    </table>
  </div>