<p class="lead">Tus vehículos</p>
  <div class="table-responsive">
    <table class="table" >
      <thead>
        <tr>
          <th scope="col">Placa</th>
          <th scope="col">Tipo</th>
          <th scope="col">Puestos</th>
          <th scope="col">Elegir</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehiculo of vehiculos">
          <th scope="row">{{vehiculo.numberplate}}</th>
          <td>{{vehiculo.type}}</td>
          <td>{{vehiculo.totalseats}}</td>
          <button class="btn btn-dark" (click)=elegirVehiculo(vehiculo.id,vehiculo.numberplate)>Elegir</button>
        </tr>
      </tbody>
    </table>
  </div>
<div class="container">
  <p class="lead">Configura tu viaje</p>
  <label for="vehiculoprevio">Recuerde haber elegido un vehículo previamente</label>
  <form #travelRegistrationForm="ngForm">
    <div class="form-group">
        <p class="lead">Sede origen</p>
        <select class="form-control" name="sededestino" [(ngModel)]="sededestino" required>
          <option>volador</option>
          <option>minas</option>
        </select>    
      <div class="input-field col s40">
        <input class="validate" type="number" name="puestosaofrecer" #PuestosOfrecer="ngModel" [(ngModel)]="puestosaofrecer" [pattern]="puestospattern" required>
        <label data-error="Inserta un valor entre 1 y 9">Puestos que vas a ofrecer</label>
      </div>
      <div class="input-field col s40">
        <input class="validate" type="text" name="horasalida" #HoraSalida="ngModel" [(ngModel)]="horasalida" [pattern]="hourpattern" required>
        <label data-error="Inserta un formato válido Ejemplo: 18:30">Hora de salida</label>
      </div>
        <button type="button" class="btn btn-primary btn-lg btn-block" [disabled]="!travelRegistrationForm.valid" (click)="ofrecerpuestoBoton()">Ofrecer</button>
    </div>
  </form>
</div>



<div class="container">
    <h1> {{mensaje}}</h1>
    <h2> </h2>
</div>


  



<!--
<p class="lead">Selecciona un vehículo</p>
<select class="custom-select">
  <option selected>Selecciona un vehículo</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>-->