<p class="lead">Selecciona un vehículo</p>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Placa</th>
          <th scope="col">Tipo</th>
          <th scope="col">Puestos</th>
          <th scope="col">Elegir</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">SMN-784</th>
          <td>Camioneta</td>
          <td>4</td>
          <td><button type="button" class="btn btn-dark">Elegir</button></td>
        </tr>
        <tr>
          <th scope="row">GHW-487</th>
          <td>Carro</td>
          <td>4</td>
          <td><button type="button" class="btn btn-dark">Elegir</button></td>
        </tr>
        <tr>
          <th scope="row">RUH-452</th>
          <td>{{Moto}}</td>
          <td>1</td>
          <td><button type="button" class="btn btn-dark">Elegir</button></td>
        </tr>
      </tbody>
    </table>
  </div>

<div class="container">
  <p class="lead">Elige destino</p>
  <form>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Tipo de vehículo</label>
      <select class="form-control" id="exampleFormControlSelect1" required>
        <option>Unal-Sede Volador</option>
        <option>Unal-Sede Minas</option>
      </select>
    </div>
  </form>
</div>

<div class="container">
    <button type="button" class="btn btn-primary btn-lg btn-block">Iniciar viaje</button>
    <h1> </h1>
    <h2> </h2>
</div>


  



<!--
<p class="lead">Selecciona un vehículo</p>
<select class="custom-select">
  <option selected>Selecciona un vehículo</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>-->